@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap');

:root {
  --white: #6d88aa;
  --light: #81BBDB;
  --primary: #3E64D6;
  --dark: #f7eeca;
  --accent: #EEE8A9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Prompt', sans-serif;
  background-color: var(--dark);
  color: var(--white);
}

.container {
  width: 85vw;
  margin: 1em auto;
  max-width: 800px;
}


hr {
  margin: 1em 0;
}